{% extends 'main/base.html' %}
{% block content %}
    <section id="showcase">
           <div class="container">
                <h1>À propos de nous</h1>
            </div>
    </section>
    
   <div class="container">
       <section id="alone">
           <h1>Humanity Tech</h1>
           <p>Humanity Tech est une entreprise fondée en 2019 avec comme mission de développer
               et de mettre en marché des technologies de connectivités destinées à être utilisées
               dans un contexte urbain. Parmi les projets porteurs, l’analyse de flux piétonniers,
               la prédiction des mouvements de foules ainsi que la surveillance en temps réels des
               mesures de distanciations sont trois sujets qui suscitent un fort intérêt. Le point
               commun de ces trois projets réside dans la capacité à élaborer des métriques pertinentes
               à l'amélioration des zones passantes.</p>
       </section>
       <section id="alone">
           <h2>Maxwell</h2>
           <p>L'équipe de Maxwell a été formée lors du cours d'ELE400. Elle avait comme mandat réaliser
               un objet connecté clé en main afin de relever les défis liés à la pandémie. Au travers des
               12 dernières semaines, notre équipe a donné son 100% pour répondre à ce mandat. En naviguant
               sur ce site internet, vous trouverez le résultat de notre travail.</p>
       </section>
   </div>
{% endblock content %}
