{% extends 'main/base.html' %}
{% block content %}
<section id="showcase">
    <div class="container">
        <h1>École de Technologie Supérieure</h1>
    </div>
</section>

 <div class="container">
      <section id="humanity">
        </section>
    <section id="alone">
             <p>Bienvenue, vous êtes sur le site internet de Humanity Tech qui permet 
                de voir en temps réelle le nombre de personne dans les classes
                de l'École de Technologie Supérieure. Pour les informations en temps réelle,
                veuillez vous diriger dans la section Infos. Pour les statistiques de la journée,
                veuillez vous diriger dans la section Statistique Quotidiennes. Pour les 
                statistiques de la semaine, veuillez vous diriger dans la section 
                Statistique Hebdomadaire.</p>
           </section>
     </div>

{% endblock content %}
